In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
path="/home/radr/data/tabular-sep-2022/"
data=pd.read_csv(path+"train.csv")

In [16]:
data.describe()

             row_id      num_sold
count  70128.000000  70128.000000
mean   35063.500000    194.296986
std    20244.354176    126.893874
min        0.000000     19.000000
25%    17531.750000     95.000000
50%    35063.500000    148.000000
75%    52595.250000    283.000000
max    70127.000000    986.000000