In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf

In [8]:
path=r"C:/Users/ranad/Desktop/LastLoop/data/tabular-playground-series-sep-2022/data/"
data=pd.read_csv(path+"train.csv")
data.head(n=10)

,row_id,date,country,store,product,num_sold
0,0,2017-01-01,Belgium,KaggleMart,Kaggle Advanced Techniques,663
1,1,2017-01-01,Belgium,KaggleMart,Kaggle Getting Started,615
2,2,2017-01-01,Belgium,KaggleMart,Kaggle Recipe Book,480
3,3,2017-01-01,Belgium,KaggleMart,Kaggle for Kids: One Smart Goose,710
4,4,2017-01-01,Belgium,KaggleRama,Kaggle Advanced Techniques,240
5,5,2017-01-01,Belgium,KaggleRama,Kaggle Getting Started,187
6,6,2017-01-01,Belgium,KaggleRama,Kaggle Recipe Book,158
7,7,2017-01-01,Belgium,KaggleRama,Kaggle for Kids: One Smart Goose,267
8,8,2017-01-01,France,KaggleMart,Kaggle Advanced Techniques,610
9,9,2017-01-01,France,KaggleMart,Kaggle Getting Started,463

In [11]:
data.describe()

             row_id      num_sold
count  70128.000000  70128.000000
mean   35063.500000    194.296986
std    20244.354176    126.893874
min        0.000000     19.000000
25%    17531.750000     95.000000
50%    35063.500000    148.000000
75%    52595.250000    283.000000
max    70127.000000    986.000000

In [13]:
data.dtypes

row_id       int64
date        object
country     object
store       object
product     object
num_sold     int64
dtype: object

In [10]:
data.store.value_counts()

KaggleMart    35064
KaggleRama    35064
Name: store, dtype: int64

In [15]:
data["product"]

0              Kaggle Advanced Techniques
1                  Kaggle Getting Started
2                      Kaggle Recipe Book
3        Kaggle for Kids: One Smart Goose
4              Kaggle Advanced Techniques
                       ...
70123    Kaggle for Kids: One Smart Goose
70124          Kaggle Advanced Techniques
70125              Kaggle Getting Started
70126                  Kaggle Recipe Book
70127    Kaggle for Kids: One Smart Goose
Name: product, Length: 70128, dtype: object